defaults:
  default_foo: "example default foo"
  overriden_foo: "example not yet overriden foo"
  erb_foo: "<%= ENV['ERB_FOO'] %>"
  foo_password: :env
development:
  nil_foo: ~
  false_foo: false
  true_foo: true
  string_foo: "foo"
  overriden_foo: "example already overriden foo"
  hash_foo:
    foo1: "hello 1"
    foo2: "hello 2"
test:
  nil_foo: ~
  false_foo: false
  true_foo: true
  string_foo: "foo"
  overriden_foo: "example already overriden foo"
  hash_foo:
    foo1: "hello 1"
    foo2: "hello 2"
