defaults:
  default_foo: "default foo"
  overriden_foo: "not yet overriden foo"
  erb_foo: "<%= ENV['ERB_FOO'] %>"
  foo_password: :env
development:
  nil_foo: ~
  false_foo: false
  true_foo: true
  string_foo: "foo"
  overriden_foo: "already overriden foo"
  hash_foo:
    foo1: "hello 1"
    foo2: "hello 2"
    foo_key: :env
test:
  nil_foo: ~
  false_foo: false
  true_foo: true
  string_foo: "foo"
  overriden_foo: "already overriden foo"
  hash_foo:
    foo1: "hello 1"
    foo2: "hello 2"
    foo_key: :env
